
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


## 環境設定 ##
src/main/resources/.env
src/test/resources/.env.test
application-test.properties
.env
keystore.p12


*.properties


echo "GSC_backend_Java.git/" >> .gitignore


