<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Google OAuth認証</title>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
<h1>Google認証サンプル</h1>
<div id="g_id_onload"
     data-client_id="522105682309-tmpkcd2n6nsqgitqub1l0s3uink443cd.apps.googleusercontent.com"
     data-ux_mode="redirect"
     data-login_uri="http://localhost:8080/done"
     data-auto_prompt="false">
</div>

<div class="g_id_signin" data-type="standard"></div>
</body>
</html>
